<table class="table table-striped">
	<thead>
		<tr>
			<th>Description</th>
			<th>Borrowed since</th>
			<th></th>
			<th></th>
		</tr>	
	</thead>
	<tbody>
		{{#each}}
			<tr>
				<td>{{description}}</td>
				<td>{{createdAt}}</td>
				<td></td>
				<td></td>
			</tr>
		{{/each}}
	</tbody>
</table>